# Build artifacts
*.obj
*.lib
*.exp
*.dll
*.exe
*.pdb
*.ilk
*.res

# Visual Studio
.vs/
*.suo
*.user
*.VC.db
*.VC.opendb
Debug/
Release/
x64/
Win32/
*.vcxproj.user

# Detours (cloned during CI build)
Detours/
